<form action="/new" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
<br></br>
  <label for="place">place</label>
  <input type="text" name="place" id="place">
<br></br>
  <label for="city">city</label>
  <input type="text" name="city" id="city">
<br></br>
  <label for="date">date</label>
  <input type="date" name="date" id="date">
<br></br>
  <label for="imageUrl">Image URL</label>
  <input type="url" name="imageUrl" id="imageUrl">
<br></br>
  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"></textarea>
<br></br>
  <label for="category">category</label>
  <input type="text" name="category" id="category">
<br></br>
  <button type="submit">Create Event</button>
</form>
