<h1><%= title %></h1>
<p>Welcome to
  <%= title %>
</p>
<a href="/login">Login</a>
<a href="/signup">signup</a>

<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascripts/nasa.js"></script>
