body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dayImage{
  width: 500px;
  height: 500px;
}

.nasa{
  width: 400px;
  height: 400px;  
}
